.Bike {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-direction: row;
}

.Bike > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.Bike p {
  margin: 0;
}

.icon {
  margin: 10px;
}
