.App {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  min-height: 100vh;
}

.menu-button {
  font-size: 2em;
  padding: 10px 10px 0 0;
  margin-left: auto;
  cursor: pointer;
}

.menu-button:hover {
  opacity: 0.8;
}

.Components {
  width: 100%;
  min-height: 100%;
  display: grid;
}
