@import url('https://fonts.googleapis.com/css?family=Roboto|Righteous');

html {
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  color: #ccc;
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: 'Roboto', 'Open Sans', 'lucida grande', 'Segoe UI', arial,
    verdana, 'lucida sans unicode', tahoma, sans-serif;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000040;
}

h1 {
  color: #fff;
  font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
  color: #eee;
  font-weight: normal;
}

a {
  color: #f80;
}

input[type='text'],
input:not([type]) {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.16);
  border: none;
  padding: 0.5em 0.6em;
  box-sizing: border-box;
  font-size: 1em;
  color: #ddd;
  outline: none;
  flex: 1 0 auto;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input + p:not([error=''])[error]::after {
  content: attr(error);
  color: #d21;
  text-shadow: 0 0 8px #000;
  font-size: 0.7em;
  margin-right: 0.3em;
  padding: 0 4px;
  position: absolute;
  right: 0;
}

button,
input[type='button'] {
  background-color: rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 1em;
  color: #ddd;
  padding: 10px 16px;
  cursor: pointer;
}

button[disabled],
input[type='button'][disabled] {
  opacity: 0.5;
}
button > svg,
input[type='button'] > svg {
  vertical-align: middle;
}

.form-group {
  display: flex;
  text-align: left;
  flex-flow: row wrap;
  align-items: center;
  margin: 1em;
  position: relative;
}

.form-group > label {
  flex: 0 0 auto;
  margin-right: 0.5em;
  font-size: 1.2em;
  color: #fff;
  text-align: left;
}

.small {
  font-size: 0.8em;
}

.extra-small {
  font-size: 0.5em;
}

.bright {
  opacity: 1;
}

.glow {
  opacity: 1;
  color: #f80;
}

.darken {
  opacity: 0.5;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-stretch {
  justify-content: stretch;
}

.flex-end {
  justify-content: flex-end;
}

.grow {
  flex-grow: 1;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
